---
permalink: .htaccess
layout: null
---

AddDefaultCharset UTF-8
LanguagePriority en
ForceLanguagePriority Prefer Fallback
Options +MultiViews
DirectoryIndex index

AddLanguage en .en
AddLanguage es .es
AddLanguage ja .ja