---
permalink: .htaccess
layout: null
---

AddDefaultCharset UTF-8
LanguagePriority en
ForceLanguagePriority Prefer Fallback
Options +MultiViews
DirectoryIndex index

{% for language in languages -%}
AddLanguage {{ language.lang }} .{{ language.lang }}
{% endfor %}